## Beginning of Aliases

alias flushcache='sudo killall -HUP mDNSResponder;say DNS cache has been flushed'
alias git_home='curl https://gist.githubusercontent.com/totallyGreg/4c9a430e6965280a60fcec628e1d03d5/raw | bash'
alias l='ls -lhF'
alias ll='ls -lhF'
alias l1='ls -1'
alias la='ls -alhF'
alias lt='ls -alhFtr'
alias grep='grep --color=auto'
alias cd..='cd ..'
## Example of ssh tunneling through a gateway machine
#alias rupert='ssh -X -A -t jgreg@peabody.ximian.com ssh -X -A totally@rupert.ximian.com'
#
[ -f /usr/local/bin/vim ] &&  alias vi='/usr/local/bin/vim' 
#
# Python source venv 
alias sv='source venv/bin/activate'

# Git 
alias g='git'

# Kubernetes
alias k='kubectl'

## Vagrant Stuff
alias vgs='vagrant global-status'
alias v='vagrant'

## Random Crap
alias gn='growlnotify'
alias excuse='telnet towel.blinkenlights.nl 666'
alias dict='curl dict://dict.org/d:$1'
alias backscreen='/System/Library/Frameworks/ScreenSaver.framework/Resources/ScreenSaverEngine.app/Contents/MacOS/ScreenSaverEngine -background &'
alias ttop='top -ocpu -R -F -s 2 -n30'
alias mtop='top -o rsize'
alias quick='open /Applications/Ops/Administration/Quicksilver.app'
alias futurama='fortune ~/Clouds/iCloud/Bookshelf/Quotes/futurama'
alias fc='dscacheutil -flushcache'
alias serialscreen='screen -L /dev/cu.usbserial -f 9600,cs8,-parenb,-cstopb,-hupcl'
alias odiff='opendiff'

# Read Log files with embeded control characters (e.g. screenlog.0)
alias readlog='less -raw-control-chars'

##### Dotfile management through git work-tree
alias dotadm='/usr/bin/git --git-dir=$HOME/.home/ --work-tree=$HOME'
alias dotupgrade='/usr/bin/git --git-dir=$HOME/.home --work-tree=$HOME submodule update --remote --merge'

# Docker
alias d='docker'
alias docker-ips='docker ps | tail -n +2 | while read -a a; do name=${a[$((${#a[@]}-1))]}; echo -ne "$name\t"; docker inspect $name | grep IPAddress | cut -d \" -f 4; done'

# Generate random mac address for wireless
alias random-mac="openssl rand -hex 6 | sed 's/\(..\)/\1:/g; s/.$//' | xargs sudo ifconfig en0 ether"

alias testme='echo "Testing!!"'


# Alias completion
#aliases=(d g k v)
#for a in "${aliases[@]}"; do
#    alias_completion "$a"
#done

# clean up after ourselves
unset a aliases
