## Beginning of Aliases
# if [ ! ${machine} == "Mac" ]; then alias ls='ls --color=auto' ; fi
if [ ! ${CLICOLOR} == "1" ]; then alias ls='ls --color=auto' ; fi
alias l='ls -lhF'
alias ll='ls -lhF'
alias l1='ls -1'
alias la='ls -alhF'
alias lt='ls -alhFtr'
alias grep='grep --color=auto'
alias cd..='cd ..'
alias ic='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs'
# alias fuck='sudo $(history -p \!\!)'
# if [ -e (which bat) ]; alias cat='bat --theme TwoDark'

# Python source venv
alias sv='source venv/bin/activate'

# Docker
alias d='docker'
alias dkl='docker logs'
alias dklf='docker logs -f'
alias dki='docker images'
alias dks='docker service'
alias dkrm='docker rm'
alias dm='docker-machine'
alias dmx='docker-machine ssh'

alias docker-ips='docker ps | tail -n +2 | while read -a a; do name=${a[$((${#a[@]}-1))]}; echo -ne "$name\t"; docker inspect $name | grep IPAddress | cut -d \" -f 4; done'
alias dkps="docker ps --format '{{.ID}} - {{.Names}} - {{.Status}} - {{.Image}}'"

# Git
alias g='git '
alias gfa='git fetch --all '
alias gpf='git pull --ff-only '

# Kubernetes
alias busybox='kubectl run -it --rm --restart=Never busybox --image=busybox sh'
alias k='kubectl '
alias kctx='kubectx '
alias kedp='kubectl get endpoints --all-namespaces '
alias kg='kubectl get '
alias kl='kubectl logs '
alias kpod='kubectl get pods --all-namespaces'
alias ksvc='kubectl get services --all-namespaces'
alias kvu="kubectl view-utilization "
alias kx='kubectl exec -i -t'

## Tmux stuff
alias t="tmux "
alias ta="t a -t"
alias tls="t ls"
alias takeover="tmux detach -a"

## Vagrant Stuff
alias vgs='vagrant global-status'
alias v='vagrant'

## Random Crap
# https://apple.stackexchange.com/questions/348762/how-to-have-a-random-background-color-in-terminal-app
alias dark_mode_toggle="osascript -e 'tell application \"System Events\" to tell appearance preferences to set dark mode to not dark mode' -e 'tell application \"Terminal\" to set current settings of window 1 to settings set \"Totally Dark\"'; vim -c Tmuxline +qall"
# alias dark_mode_toggle="osascript -e 'tell application \"System Events\" to tell appearance preferences to set dark mode to not dark mode'"
alias gn='growlnotify'
alias backscreen='/System/Library/CoreServices/ScreenSaverEngine.app/Contents/MacOS/ScreenSaverEngine -background &'
alias lockscreen='/System/Library/CoreServices/"Menu Extras"/User.menu/Contents/Resources/CGSession -suspend'
alias screensaver='open -a /System/Library/Frameworks/ScreenSaver.framework/Versions/A/Resources/ScreenSaverEngine.app'
alias ttop='top -ocpu -R -F -s 2 -n30'
alias mtop='top -o rsize'
alias quick='open /Applications/Ops/Administration/Quicksilver.app'
alias futurama='fortune ~/Clouds/iCloud/Bookshelf/Quotes/futurama'
alias fc='dscacheutil -flushcache'
alias serialscreen='screen -L /dev/cu.usbserial -f 9600,cs8,-parenb,-cstopb,-hupcl'
alias odiff='opendiff'
alias flushcache='sudo killall -HUP mDNSResponder;say DNS cache has been flushed'
alias weakssh='ssh -o StrictHostKeyChecking=no '
alias chrome='open -a "Google Chrome" '
alias test_portal='open http://captive.apple.com/hotspot-detect.html'
alias local_rsync='rsync -av -e rcp --delete --progress '

# Read Log files with embeded control characters (e.g. screenlog.0)
alias readlog='less -raw-control-chars'

##### Dotfile management through git work-tree
alias dotadm='git --git-dir=$HOME/.home/ --work-tree=$HOME $@'
alias dadm='dotadm'
alias dotupgrade='dotadm submodule update --remote --merge'

# Generate random mac address for wireless
alias random-mac="openssl rand -hex 6 | sed 's/\(..\)/\1:/g; s/.$//' | xargs sudo ifconfig en0 ether"

# Setting sensitive values via security
alias get_pivnet_token='PIVNET_TOKEN=$(ACCOUNT="j.greg.williams@altoros.com" keychain-environment-variable "Pivotal Refresh Token"); export PIVNET_TOKEN'
#
# ### alias completion functions do not work as they seem to depend on bash 4.1
# https://brbsix.github.io/2015/11/23/perform-tab-completion-for-aliases-in-bash/
# Now sourcing this https://superuser.com/questions/436314/how-can-i-get-bash-to-perform-tab-completion-for-my-aliases
if [ "${BASH_VERSINFO:-0}" -ge 4 ]; then
  source ~/._alias_completion
else
  echo "bash does not support associative arrays"
fi

#
### Aliases that require a network kept afterwards to it doesn't stall the ._alias_completion funciton
alias morbotron="curl -s https://morbotron.com/api/random | jq --raw-output '.Subtitles[] .Content'"
alias dict='curl dict://dict.org/d:$1'
alias excuse='nc towel.blinkenlights.nl 666'
alias starwars='nc towel.blinkenlights.nl 23'
alias git_home='curl https://gist.githubusercontent.com/totallyGreg/4c9a430e6965280a60fcec628e1d03d5/raw | bash'
alias install_home_brew='/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"'

alias restart_dns='ssh portcullis sudo /etc/init.d/dnsmasq force-reload'
alias kaply='kubectl apply -f '
alias m4b-tool='docker run -it --rm -u $(id -u):$(id -g) -v "$(pwd)":/mnt m4b-tool'
