## Beginning of Aliases
# if [ ! ${machine} == "Mac" ]; then alias ls='ls --color=auto' ; fi
# if [ ! ${CLICOLOR} == "1" ]; then alias ls='ls --color=auto' ; fi
if (( $+commands[lsd] )); then alias ls='lsd' ; fi
alias l='ls -lhF'
alias ll='ls -lhF'
alias l1='ls -1 --icon never'
alias la='ls -alhF'
alias lr='ls -alhFtr'
alias lt='lsd --tree'
alias grep='grep --color=auto'
alias cd..='cd ..'
alias ic='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs'
alias watch='watch ' # this allows alias expansion
alias stamp='date "+%Y-%m-%d⏱ %H.%M"'

# Conditional command replacements
if (( $+commands[bat] )); then
  alias cat='bat --style=plain'
fi

alias -g pbp='pbpaste'
alias -g pbc='pbcopy'
alias z='zoxide'

# Python source venv
alias sv='source venv/bin/activate'

# AWS
alias aws-ping='aws sts get-caller-identity'

# Docker
alias d='docker'
alias dkl='docker logs'
alias dklf='docker logs -f'
alias dki='docker images'
alias dks='docker service'
alias dkrm='docker rm'
alias dm='docker-machine'
alias dmx='docker-machine ssh'

alias docker-ips='docker ps | tail -n +2 | while read -a a; do name=${a[$((${#a[@]}-1))]}; echo -ne "$name\t"; docker inspect $name | grep IPAddress | cut -d \" -f 4; done'
alias dkps="docker ps --format '{{.ID}} - {{.Names}} - {{.Status}} - {{.Image}}'"

alias envoy='docker run --net=host -v ${PWD}:${PWD}:ro -w $PWD -e ENVOY_UID=0 envoyproxy/envoy:v1.20.0'

# Git
alias gfa='git fetch --all '
alias gpf='git pull --ff-only '

# GPG
alias gpg_clear_cache='echo "CLEAR_PASSPHRASE --mode=normal $keygrip " | gpg-connect-agent'

# Lima
alias lctl='limactl'

# ~/bin/keychainctl
alias keyctl='keychainctl'
alias kctl='keychainctl'
alias kc='keychainctl'

# Kubernetes
# Recently adopted https://github.com/kubermatic/fubectl
# likely to replace many of my aliases and 
# alias busybox='kubectl run -it --rm --restart=Never busybox --image=busybox sh'
alias netshoot='open https://github.com/nicolaka/netshoot ; kubectl run tmp-shell --rm -i --tty --image nicolaka/netshoot -- /bin/zsh'
alias busybox='kubectl run -i --tty --rm debug --image=busybox --restart=Never -- zsh'

alias k='kubectl'
alias kaf='kubectl apply -f '
alias kctx='kubectx'
alias kns='kubens'
alias kedp='kubectl get endpoints --all-namespaces '
alias kvu="kubectl view-utilization "
alias qapla='pbpaste | kubectl apply -f -'    # I hope I'm not the only one on this planet who finds this hilarious

## OpenSSL
# can be used with pbpaste | viewCert
alias viewCert='openssl x509 -noout -issuer -subject -dates -hash'

## Parse istio-bug-report crs
alias crd_parser="python ~/Work/solo-cop/tools/crd_parser/crd_parser.py "

## Terraform
alias tf=terraform

## Tmux stuff
alias t="tmux "
# alias ta="t a -t"  # replaced with ~/bin/ta
alias tls="t ls"
alias takeover="tmux detach -a"
alias tkill="for s in \$(tmux list-sessions | awk '{print \$1}' | rg ':' -r '' | fzf); do tmux kill-session -t \$s; done;"

## Vagrant Stuff
alias vgs='vagrant global-status'
alias v='vagrant'

## Vim stuff
alias -g vim=nvim
alias -g view='nvim -R'
alias -g vimdiff='nvim -d'
alias -g yavim="GIT_DIR=$HOME/.local/share/yadm/repo.git GIT_WORK_TREE=$HOME vim"
alias zdot="yavim ~/.config/tmux/tmux.conf"
alias tedit='GIT_DIR=$HOME/.local/share/yadm/repo.git GIT_WORK_TREE=$HOME vim ~/.config/tmux/tmux.conf'
alias zedit='GIT_DIR=$HOME/.local/share/yadm/repo.git GIT_WORK_TREE=$HOME vim ~/.config/zsh/.zshrc'
alias nvim-chad="NVIM_APPNAME=NvChad nvim"
alias nvim-astro="NVIM_APPNAME=AstroNvim nvim"

## Zendesk parsing
alias organization_name="jq '.organizations[].name'"

## Random Crap
# https://apple.stackexchange.com/questions/348762/how-to-have-a-random-background-color-in-terminal-app
alias dark_mode_toggle="osascript -e 'tell application \"System Events\" to tell appearance preferences to set dark mode to not dark mode' -e 'tell application \"Terminal\" to set current settings of window 1 to settings set \"Totally Dark\"'; vim -c Tmuxline +qall"
# alias dark_mode_toggle="osascript -e 'tell application \"System Events\" to tell appearance preferences to set dark mode to not dark mode'"
alias backscreen='/System/Library/CoreServices/ScreenSaverEngine.app/Contents/MacOS/ScreenSaverEngine -background &'
alias lockscreen='/System/Library/CoreServices/"Menu Extras"/User.menu/Contents/Resources/CGSession -suspend'
alias screensaver='open -a /System/Library/Frameworks/ScreenSaver.framework/Versions/A/Resources/ScreenSaverEngine.app'
alias ttop='top -ocpu -R -F -s 2 -n30'
alias mtop='top -o rsize'
alias quick='open /Applications/Ops/Administration/Quicksilver.app'
alias futurama='fortune ~/Clouds/iCloud/Bookshelf/Quotes/futurama'
alias serialscreen='screen -L /dev/cu.usbserial -f 9600,cs8,-parenb,-cstopb,-hupcl'
alias odiff='opendiff'
alias flushDNS='sudo killall -HUP mDNSResponder;say DNS cache has been flushed'
alias resetDNS='sudo killall -USR1 mDNSResponder; sudo syslog -C mDNSResponder -d'
alias weakssh='ssh -o StrictHostKeyChecking=no '
alias chrome='open -a "Google Chrome" '
alias test_portal='open http://captive.apple.com/hotspot-detect.html'
alias local_rsync='rsync -av -e rcp --delete --progress '
alias oblique="curl -s http://brianeno.needsyourhelp.org/draw | jq .strategy"
alias dad_joke='curl -H "Accept: text/plain" https://icanhazdadjoke.com/'
alias wattage='/usr/sbin/system_profiler SPPowerDataType | grep Wattage'

# Read Log files with embeded control characters (e.g. screenlog.0)
alias readlog='less -raw-control-chars'

##### Dotfile management through git work-tree
alias dotadm='git --git-dir=$HOME/.home/ --work-tree=$HOME $@'
alias dadm='dotadm'
alias dotupgrade='dotadm submodule update --remote --merge'

# Generate random mac address for wireless
alias random-mac="openssl rand -hex 6 | sed 's/\(..\)/\1:/g; s/.$//' | xargs sudo ifconfig en0 ether"
alias spoof-mac="openssl rand -hex 6 | sed 's/\(..\)/\1:/g; s/.$//' | xargs sudo ifconfig en0 ether"

# Setting sensitive values via security
alias get_pivnet_token='PIVNET_TOKEN=$(ACCOUNT="j.greg.williams@altoros.com" keychain-environment-variable "Pivotal Refresh Token"); export PIVNET_TOKEN'
#
# ### alias completion functions do not work as they seem to depend on bash 4.1
# https://brbsix.github.io/2015/11/23/perform-tab-completion-for-aliases-in-bash/
# Now sourcing this https://superuser.com/questions/436314/how-can-i-get-bash-to-perform-tab-completion-for-my-aliases
if [ "${BASH_VERSINFO:-0}" -ge 4 ]; then
  source ~/._alias_completion
else
  true
  # echo "bash does not support associative arrays"
fi

#
### Aliases that require a network kept afterwards to it doesn't stall the ._alias_completion funciton
alias morbotron="curl -s https://morbotron.com/api/random | jq --raw-output '.Subtitles[] .Content'"
alias dict='curl dict://dict.org/d:$1'
alias excuse='nc towel.blinkenlights.nl 666'
alias starwars='nc towel.blinkenlights.nl 23'
alias git_home='curl -sL https://git.io/JsMgi | zsh'

alias restart_dns='ssh portcullis sudo /etc/init.d/dnsmasq force-reload'
# alias m4b-tool='docker run -it --rm -u $(id -u):$(id -g) -v "$(pwd)":/mnt m4b-tool'
# alias mp4chaps='docker run -it --rm -u $(id -u):$(id -g) -v "$(pwd)":/mnt --entrypoint mp4chaps m4b-tool'
# alias mp4tags='docker run -it --rm -u $(id -u):$(id -g) -v "$(pwd)":/mnt --entrypoint mp4tags m4b-tool'
# alias mp4info='docker run -it --rm -u $(id -u):$(id -g) -v "$(pwd)":/mnt --entrypoint mp4info m4b-tool'

alias merge_yaml="yq eval-all '. as $item ireduce ({}; . * $item )' "
