[submodule "bin/liquidprompt"]
	path = bin/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/ansible-vim"]
	path = .vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
