[user]
  email = 283704+totallyGreg@users.noreply.github.com
  name = J. Greg Williams
[alias]
  alias = config --get-regexp ^alias.
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  brs = br -avv
  branches = branch -avv
  ci = commit
  co = checkout
  contrib = shortlog -e --summary --numbered
  dump = cat-file -p
  email = log --format="%aN <%aE>"
  find = "!git log --color -p -S "
  hist = log --graph --pretty=format:'%Cred%h%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset [%an]' --abbrev-commit --date=relative
  last = log -1 HEAD --stat     # view last commit
  ll = log --decorate --oneline --graph --numstat
  ls = log --decorate --oneline --graph
  pretty = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  recent = !git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | head -n 100
  remotes = remote -v
  review = "log master..origin/master"
  size = "count-objects -vH"
  st = status -sb
  staged = diff --staged    # view the diff of what is currently staged
  today = diff --stat 'HEAD@{midnight}'
  tree = log --graph --oneline --all
  type = cat-file -t
  unstage = reset HEAD --  # Remove filename from the staging area
  yesterday = diff --stat 'HEAD@{yesterday}' 'HEAD@{midnight}'
  start-repo = !git init . && git add . && git commit --allow-empty -m \"Initialize repository\"
[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  frag = magenta bold
  meta = yellow bold
  new = green bold
  old = red bold
  whitespace = red reverse
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[status]
  submoduleSummary = true
[commit]
  gpgsign = true
  ; template = \"$HOME\"/.stCommitMsg
[push]
  default = current
	autoSetupRemote = true
[core]
  excludesfile = /Users/totally/.gitignore_global
  autocrlf = input
  pager = delta
[github]
  user = totallyGreg@gmail.com
[diff]
  tool = vimdiff
  colorMoved = default
[merge]
  tool = vimdiff
  conflictstyle = diff3
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false # required for git 2.37.0
[delta]
  navigate = true # use n and N to move between diff sections
  light = false   # set to true if you're in a terminal w/ a light background color
[tag]
  sort = version:refname
[safe]
  directory = /Users/totally/Repositories/vde_vmnet
  directory = /Users/totally/Repositories/vde_vmnet/vde-2
[gpg]
  program = /usr/local/bin/gpg
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Users/totally/Applications/Ops/Organization/Source Control/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
