Applications
Bookshelf
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Media
Pictures
Projects
Public
Sites
ownCloud
.zshhistory
.ssh
.viminfo
.vim
.sqlite_history
.tarantella
.zshhistory
.Trash
.bash_history
.dropbox
.dvdcss
.Xauthority
.Xcode
.Xdefaults
.DS_Store
.CFUserTextEncoding
.lesshst
.config/
.MacOSX/
.rstudio-desktop/
.gitconfig
.dnx/
.bash_sessions/
.Rhistory/
.hosts/
.Rhistory
.hosts
.matplotlib/
.python-eggs/
TV.vncloc
.npm
.home
