[user]
  email = totallyGreg@gmail.com
  name = J. Greg Williams
[alias]
  co = checkout
  ci = commit
  branches = branch -av

; Useful log aliases
  ls = log --decorate --oneline --graph
  ll = log --decorate --oneline --graph --numstat
  pretty = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  hist = log --graph --pretty=format:'%Cred%h%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset [%an]' --abbrev-commit --date=relative
  remotes = remote -v
  type = cat-file -t
  dump = cat-file -p
  staged = diff --staged    # view the diff of what is currently staged
  unstage = reset HEAD --  # Remove filename from the staging area
  last = log -1 HEAD      # view last commit
  find = "!git log --color -p -S "
  size = "count-objects -vH"
  review = "log master..origin/master"

[color]
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[status]
  submoduleSummary = true
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Users/totally/Applications/Ops/Organization/Code Tools/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[commit]
  ; template = /Users/totally/.stCommitMsg
  template = \"$HOME\"/.stCommitMsg
[push]
  default = simple
[core]
  excludesfile = /Users/totally/.gitignore_global
[github]
	user = totallyGreg@gmail.com
