# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache
*.swp

.zshhistory
.ssh
.viminfo
.sqlite_history
.tarantella
.zshhistory
.Trash
.bash_history
.dropbox
.dvdcss
.Xauthority
.Xcode
.Xdefaults
.DS_Store
.CFUserTextEncoding
.lesshst
.MacOSX/
.rstudio-desktop/
.dnx/
.bash_sessions/
.Rhistory/
.hosts/
.Rhistory
.hosts
.matplotlib/
.python-eggs/
.npm
.home
## User settings
xcuserdata/
