set editing-mode vi
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off
set completion-ignore-case on
set show-all-if-ambiguous on
set mark-directories on
set bell-style visible
